**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/frontend
**/node_modules
**/obj
**/packages
**/*.*.user
**/*.db
**/*.log
**/.DS_Store
**/*.trx
